
# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Frontend
node_modules/


# Uploads
uploads/

# Logs
logs/
*.log

# modles_hub
models_hub/
models/

# packages
packages/

# Large files
*.whl
*.exe
*.zip
*.tar.gz
*.rar

# HuggingFace cache
hf_cache/
.cache/
